**/target/
target/
*.class
*/jpress-addon-club/
*/jpress-addon-articlemeta/
*/jpress-addon-wechatlogin/
*/jpress-addon-wechattask/
starter-dev/
.idea
*.iml
.project
.settings
install.lock
*.jar
*.log
.logs
logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
*/*.jar
dbuild.sh
rebel.xml
.rebel.xml.bak
